#Type Path                                 Mode UID  GID  Age Argument
d     {{ printf "%-36s" .Etc }} 0750 root root -   -
d     {{ printf "%-36s" .SecretsDir }} 0700 root root -   -
d     {{ printf "%-36s" .Var }} 0750 root root -   -
d     {{ printf "%-36s" .Spool }} 0750 root root -   -
d     {{ printf "%-36s" .RINEX }} 0750 root root -   -
d     {{ printf "%-36s" .Backups }} 0750 root root -   -
d     {{ printf "%-36s" .Log }} 0750 root root -   -
d     {{ printf "%-36s" .Opt }} 0755 root root -   -
d     {{ printf "%-36s" .Bin }} 0755 root root -   -
